{% extends "layout.html" %}
{% block title %}New Post{% endblock %}
{% block main_image %}url({{ url_for('static', filename='main_pics/new_post-bg.jpg') }})"{% endblock %}
{% block content %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">{{ legend }}</legend>
                            <div class="form-group">
                                {{ form.title.label(class="form-control-label") }}
                                {% if form.title.errors %}
                                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.sub_title.label(class="form-control-label") }}
                                {% if form.sub_title.errors %}
                                    {{ form.sub_title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.sub_title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.sub_title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.content.label(class="form-control-label") }}
                                {% if form.content.errors %}
                                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.content(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.picture.label() }}
                                {{ form.picture(class="text-primary btn") }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group d-flex justify-content-center mb-3">
                            {{ form.submit(class="btn btn-primary text-uppercase") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
